﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personnal</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
    </div>
   
</div>